* {
    box-sizing: border-box;
    font-family: "Roboto", "sans-serif";
    font-weight: 300;
    margin: 0;
    padding: 0;


}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}


a {
    text-decoration: none;
}

#petitLogo {
    font-family: Ephesis;
    font-weight: 500;
    font-size: 3rem;
}



header {
    width: 100%;
    background: url(../img/bg.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;

}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.3);

}

header nav a {
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
    font-weight: 300;
    padding: 15px 25px;
    border-radius: 30px;
    transition: ease-in-out 0.5s;
}

header nav a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

header nav #contact {
    border: 2px solid white;


}

header nav div {
    padding: 20px;
}

header .titre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .titre h1 {
    font-size: 9rem;
    font-weight: 300;
    font-family: Ephesis;
    color: white;
    margin-top: -8px;
    margin-bottom: 0;
}

header .titre h3 {
    font-size: 1.8rem;
    font-weight: 350;
    margin-top: -15px;
    color: white;
}

/* main .achat{
    display: flex;
    flex-direction: column;
} */

main .looking {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #C1D2D9;
    padding: 20px 0;
}

main .looking h2 {
    text-transform: uppercase;
    /* letter-spacing: 1px; */
    font-stretch: 200%;
    font-size: 2.4rem;
    font-weight: 900;
    color: #7CAFC9;
}

main .looking img {
    width: 18px;
}

main .CarteAgencement {

    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-evenly;
    margin: 0 auto;
}

main .carte {
    display: flex;
    border: 1px solid #a7a7a7bd;
    flex-direction: column;
    width: 380px;
    position: relative;
    margin: 25px 2px;
}

main .carte h4 {
    font-size: 1.6rem;
    font-weight: 800;
    padding-top: 10px;
    margin-bottom: 5px;
    color: #5E5E5E;

}

main .carte p {
    color: #A7A7A7;
    font-size: 1.1rem;
    font-weight: 400;
    padding-bottom: 10px;
    /* margin-bottom: 5px; */

}

main .carte h4,
main .carte p {

    margin: 10px 10px 10px 15px;
}

main .carte h5 {
    position: absolute;
    font-size: 2rem;
    font-weight: 500;
    padding: 10px 10px;
    left: 16px;
    top: 10px;
    background-color: white;
}

main #moreList {
    display: block;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0 auto;
    border: 1px solid #7BAFC9;
    color: #7BAFC9;
    border-radius: 25px;
    width: 145px;
    line-height: 40px;
    margin-bottom: 30px;
    transition: ease-in-out 0.6s;
}

main #moreList:hover {
    background-color: #7BAFC9;
    color: white
}

footer {
    font-size: 1.7rem;
    font-weight: 400;
    width: 100%;
    background-color: #7BAFC9;
    display: flex;
    flex-direction: column;

}

footer .listes {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    padding-bottom: 10px;
    margin: 0 auto;
}

footer ul {

    list-style: none;
}

footer ul li {

    padding: 10px;
}

footer .paragraph {

    color: white;
    width: 40%;
    padding: 10px;
}

footer .paragraph div {

    padding-top: 10px;
}

footer .paragraph p {

    line-height: 3.5rem;
}

footer .paragraph div a {

    padding: 0 10px;
}

footer a {
    color: white;
}

footer hr {
    height: 1px;
    width: 70%;
    margin: 0 auto;
}

footer .copy {
    text-align: center;
    color: white;
    padding: 10px;
}

@media screen and (min-device-width : 1920px) {
   
    main .carte {
        
        width: 30%;
        margin: 25px 2px;
    }
    

}





@media screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    body {
        display: flex;
        flex-direction: column;

    }

    header nav {
        display: flex;
        flex-direction: column;
        padding-bottom: 19vh;
    }

 

    header .liensNav {
        padding: 10px;
    }

    header nav a {

        font-size: 1.5rem;
        padding: 0 10px;
    }

    header nav #contact {
        border: 2px solid transparent;
    }

    header nav a {
        padding: 0px 15px;

    }

    header .titre {
        transform: translateY(-110px)
    }

    /* header .titre h1,
    header .titre h3 {
        
    } */

    header .titre h1 {
        font-size: 7.5rem;
    }

    header .titre h3 {
        font-size: 1.5rem;
        /* padding-top: 10px; */
    }

    main .CarteAgencement {
        width: 100%;

    }

    main .carte {
        display: flex;
        border: 1px solid #a7a7a7bd;
        flex-direction: column;
        width: 40%;
        position: relative;

    }

    div .carte:last-child {
        display: none;
    }

    footer .listes {
        padding: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    footer .paragraph {
        width: 100%;
        margin: 10px 0;
    }

    footer .paragraph p {
        text-align: center;
    }

    footer .paragraph div {
        text-align: center;
    }

    footer hr {
        margin: 10px auto;
    }

    footer .copy {
        line-height: 20px;
    }
}

@media screen and (max-width:767.98px) {

    body {
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    header nav {
        display: flex;
        flex-direction: column;
        padding-bottom: 230px;
    }

    #petitLogo {
        font-family: Ephesis;
        font-size: 4rem;
    }

    header nav a {
        
        padding: 15px 5px;
    }

    header nav #contact {
        border: 2px solid transparent;
    }


    header .titre {
        transform: translateY(-200px)
    }

    header .titre h1 {
        text-align: center;
        font-size: 7.8rem;
       
    }
    
    header .titre h3 {
        font-size: 1.8rem;
        
    }

    main .looking {
       padding: 40px 0;
        
    }
    main .looking a{
        display: none;
        
    }

    main .looking h2{
        font-size: 1.8rem;
    }

    main .CarteAgencement {

        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
       
    }
    
    main .carte {
        display: flex;
        border: 1px solid #a7a7a7bd;
        flex-direction: column;
        width: 80%;
        position: relative;

    }
    
    main .carte h4 {
        font-size: 1.6rem;
        font-weight: 800;
        color: #5E5E5E;
    
    }
    
    main .carte p {
        color: #A7A7A7;
        font-size: 1.1rem;
        font-weight: 400;
        padding-bottom: 10px;
        /* margin-bottom: 5px; */
    
    }
    
    main .carte h4,
    main .carte p {
    
        margin: 10px 10px 10px 15px;
    }

    footer .listes{
        flex-direction: column;
        align-items: center;
    
    }

    footer ul li {
        text-align: center;
        padding: 5px auto;
    }

    footer ul{
        padding: 20px 0;
    }

    footer .paragraph {
        text-align: center;
        width: 100%;
    }

    footer .paragraph div {
        padding: 20px 0;
    }

    footer .copy{
        margin: 5px auto;
        line-height: 3rem;
        width: 90%;
        padding-bottom: 20px;
    }


}